html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url('../images/forest.jpg');
  font-family: 'Raleway', sans-serif;
  background: no-repeat center center cover;
  line-height: 1.6;
  color: #fff;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.customize-container {
  display: flex;
  flex-direction: column;
  width: 18%;
  padding-left: 30px;
}

.customize-heading {
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  padding: 25px 20px;
  text-shadow: 0 0 3px #00487C, -1px -1px #00487C, 1px 1px #00487C;
}

.input-label {
  text-shadow: 0 0 3px #00487C, -1px -1px #00487C, 1px 1px #00487C;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input-container > input {
  background-color: rgba(0, 166, 251, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}

.input-container > input:focus {
  background-color: rgba(0, 166, 251, 0.8);
}

.grow-button {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 166, 251, 0.6);
  transition: all 0.5s;
  width: 250px;
  text-align: center;
}

.grow-button:hover {
  background: linear-gradient(to bottom right, green, yellow);
  color: #fff;
  text-shadow: 0 0 33px #FFF;
  font-weight: bolder;
  width: 300px;
  transition: 0.5s;
}

.clear-button {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  position: absolute;
  left: 350px;
  bottom: 50px;
  color: #fff;
  text-shadow: 0 0 3px #00487C;
  transition: all 0.5s;

}

.clear-button:hover {
  cursor: pointer;
  border-bottom: 3px solid red;
  transition: 0.5s;

}

.modalBtn-container {
  position: absolute;
  top: 8px;
  right: 16px;
}

canvas {
  border-radius: 50%;
  box-shadow: 0 0 38px #fff;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.open-button {
  font-family: 'Indie Flower', cursive;
  display: inline-block;
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  padding: 0 15px;
  color: #fff;
  background-color: rgba(0, 166, 251, 0.8);
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.open-button:hover {
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(0, 166, 251, 0.9);
  transition: 0.5s;
  text-shadow: 0 0 33px #FFF;
}

.open-button p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.open-button p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
}

.open-button:hover p {
  padding-right: 25px;
}

.open-button:hover p:after {
  opacity: 1;
  right: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalOpen;
  animation-duration: 2s;
}

.modal-header h2, .modal-footer h3 {
  margin: 0;
}

.modal-header {
  background-color: #00A6FB;
  padding: 15px;
  color: #fff;
}

.modal-body {
  padding: 10px 20px;
}

.modal-footer {
  background-color: #00A6FB;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.close-button {
  float: right;
  font-size: 30px;
  color: #fff;
}

.close-button:hover, .close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from { opacity: 0 };
  to { opacity: 1 };
}
